---
import { getRelativeLocaleUrl } from "astro:i18n";

// components
import DocsLogo from "@/docs/components/docs-logo/DocsLogo.astro";
import NavLink from "@/docs/components/nav/NavLink.astro";
import { Dialog, DialogContent, DialogTrigger } from "./nav-dialog";
import ThemeToggle from "@/docs/components/theme-toggle/ThemeToggle.astro";
import SidebarNav from "@/docs/components/nav/SidebarNav.astro";
import LanguageSelect from "@/docs/components/language-select/LanguageSelect.astro";
import MobileLanguageSelect from "@/docs/components/language-select/MobileLanguageSelect.astro";
import SocialIconNav from "@/docs/components/social/SocialIconNav.astro";
import Search from "@/docs/components/search/Search.astro";

// data
import { locales } from "@/docs/config/siteSettings.json";

// icons
import Menu from "@tabler/icons/outline/menu.svg";

// utils
import { getLocaleFromUrl } from "@/docs/js/localeUtils";
import { getTranslatedData } from "@/docs/js/translationUtils";

// data
const currLocale = getLocaleFromUrl(Astro.url);
const navData = getTranslatedData("navData", currLocale);
const siteData = getTranslatedData("siteData", currLocale);
---

<div class="docs-site-container flex h-(--nav-height) items-center border-x">
	{/* Mobile Sidebar Dialog */}
	<Dialog>
		<DialogTrigger aria-label="Toggle Menu" class="docs-nav__link--base mr-1 -ml-2 p-1.5 md:hidden">
			<Menu class="size-5" />
		</DialogTrigger>
		<DialogContent
			animationDuration={300}
			class="h-[calc(100vh-var(--nav-height))-1px] rounded-none"
		>
			<div class="overflow-x-hidden overflow-y-auto">
				<SidebarNav>
					<div slot="after-links" class="flex justify-between">
						<ThemeToggle />
						{locales.length > 1 && <MobileLanguageSelect />}
					</div>
				</SidebarNav>
			</div>
		</DialogContent>
	</Dialog>
	{/* Rest of the navbar */}
	<nav class="flex flex-1 items-center justify-between">
		<div class="flex items-center space-x-6">
			<DocsLogo />

			<ul class="hidden items-center space-x-2 md:flex">
				{
					navData.map((navItem) => (
						<li>
							<NavLink {navItem} class="px-2" />
						</li>
					))
				}
			</ul>
		</div>
		<div class="flex items-center">
			<div class="hidden lg:flex">
				<div class="flex items-center space-x-0">
					{siteData.navSocials?.map((social) => <SocialIconNav {...social} size="sm" />)}
				</div>

				<div class="bg-border mx-2 h-8 w-px"></div>
			</div>

			<Search />

			<ThemeToggle class="hidden md:flex" size="sm" />

			{locales.length > 1 && <LanguageSelect class="ml-1 hidden md:flex" />}
		</div>
	</nav>
</div>
