---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div class:list={["bg-card text-card-foreground rounded-lg border shadow-sm", className]} {...rest}>
	<slot />
</div>
