---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
---

<div class:list={["flex items-center p-8 pt-0", className]} {...rest}>
	<slot />
</div>
