---
import type { HTMLAttributes } from "astro/types";

type Props = Omit<HTMLAttributes<"div">, "role">;

const { class: className, ...rest } = Astro.props;
---

<div
	class:list={[
		"not-content text-muted-foreground relative flex w-full",
		"before:border-border before:absolute before:inset-x-0 before:bottom-0 before:border-b-2",
		className,
	]}
	role="tablist"
	{...rest}
>
	<slot />
</div>
