---
interface Props {
	heading: import("astro").MarkdownHeading;
	class?: string;
	minHeadingLevel?: number;
}

const { heading, class: className, minHeadingLevel = 2 } = Astro.props;
---

<a
	href={`#${heading.slug}`}
	class:list={[
		"docs-nav__link--sidebar docs-primary-focus block",
		{
			"pl-4": heading.depth === minHeadingLevel + 1,
			"pl-6": heading.depth === minHeadingLevel + 2,
			"pl-8": heading.depth === minHeadingLevel + 3,
			"pl-10": heading.depth >= minHeadingLevel + 4,
		},
		className,
	]}
>
	{heading.text}
</a>
