---
import { Icon } from "astro-icon/components";

// utils
import { getLocalizedPathname } from "@/docs/js/translationUtils";
import { getLocaleFromUrl } from "@/docs/js/localeUtils";

const currLocale = getLocaleFromUrl(Astro.url);

const { id, ...rest }: Record<string, any> = Astro.props;

const domain = Astro.url.origin + getLocalizedPathname(currLocale, Astro.url); // pulls from astro.config.mjs
// console.log(domain + "#" + id);
---

<h2
	id={id}
	{...rest}
	class="group flex scroll-mt-[calc(var(--nav-height)+3rem)] flex-wrap items-baseline gap-2 lg:scroll-mt-[calc(var(--nav-height)+1rem)]"
>
	<slot />
</h2>
